<div class="chat-box">
  <div *ngIf="loading" class="chat-loading">Loading chat...</div>

  <ng-container *ngIf="!loading">
    <div class="chat-messages">
      <div *ngFor="let msg of chats" class="chat-message">
        <small class="author">{{ msg.author }}:</small>
        <div class="message">{{ msg.message }}</div>
      </div>
    </div>

    <div class="chat-input">
      <input
        type="text"
        class="form-control"
        [(ngModel)]="messageText"
        placeholder="Write a message..."
        (keydown.enter)="sendMessage()"
      />
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
  </ng-container>
</div>
