<div class="card" cdkDrag (click)="onCardClicked($event)">

  <div class="card-header">
    <h4 class="card-title">{{ card.title }}</h4>
    <p class="card-description" *ngIf="card.description">{{ card.description }}</p>
  </div>

  <div class="card-actions">
    <button class="edit-btn" (click)="startEditing()">✏️</button>
    <button class="delete-btn" (click)="deleteCard()">🗑️</button>
    <button class="image-btn" (click)="fileInput.click()">🖼️</button>
    <input type="file" #fileInput (change)="onImageSelected($event)" hidden />
  </div>

    <!-- Image wrapper with delete X -->
  <div class="image-wrapper" *ngIf="card.imageUrl">
    <img [src]="card.imageUrl" class="card-image-preview"  (dblclick)="openImageModal()" />
    <button class="delete-image-btn" (click)="removeImage()">✖</button>
  </div>

  <!-- Image Modal -->
<div class="image-modal" *ngIf="isImageModalOpen" (click)="closeImageModal()">
  <img [src]="card.imageUrl" class="modal-image" />
</div>


  <div *ngIf="isEditing" class="edit-form">
    <input [(ngModel)]="editableTitle" placeholder="Title" />
    <textarea [(ngModel)]="editableDescription" rows="2" placeholder="Description"></textarea>
    <div class="edit-actions">
      <button (click)="saveEdit()">Save</button>
      <button (click)="cancelEdit()">Cancel</button>
    </div>
  </div>
</div>
