<div class="boards-container">
  <div class="boards-header">
    <h2>Hello, <span style="color: orange;">{{ userEmail }}</span></h2>
    <h2>choose one of your existing boards...</h2>
  </div>
     <!-- List Boards -->
<div class="board-list" *ngIf="boards.length > 0; else noBoards">
  <div
    class="board-card"
    *ngFor="let board of boards"
    [routerLink]="['/board', board.id]"
  >
    <div class="board-card-content">
      <h3>{{ board.title }}</h3>
      <p>{{ board.description }}</p>
    </div>

 
  </div>
</div>
<h2 class="pt-4"
>or create a new board!</h2>
    <!-- Create Board Form -->
    <form (submit)="createBoard(); $event.preventDefault()" class="board-form">
      <input type="text" placeholder="Board Title" [(ngModel)]="title" name="title" required />
      <textarea placeholder="Description (optional)" [(ngModel)]="description" name="description"></textarea>
      <button type="submit">Create Board</button>
    </form>
  


  
    <ng-template #noBoards>
      <p>No boards yet. Create one above!</p>
    </ng-template>
  </div>
  