<div class="share-board-wrapper">
    <!-- Trigger button -->
    <button 
      class="btn btn-outline-info btn-sm togglebutton px-4 py-2  shadow-sm"
      (click)="toggleShare()"
    >
      <i class="bi" [ngClass]="showShareBoard ? 'bi-x-lg' : 'bi-person-plus'"></i>
      {{ showShareBoard ? 'Close Share Board' : 'Share Board' }}
    </button>
  
    <!-- Share Panel -->
    <div class="share-board" *ngIf="showShareBoard">
      <!-- Add user form (only owner) -->
      <form
        *ngIf="authService.currentUserId === board?.owner"
        (submit)="addAllowedUser(); $event.preventDefault()"
      >
        <input
          type="email"
          [(ngModel)]="newAllowedEmail"
          name="allowedEmail"
          placeholder="Enter email to share with"
          required
        />
        <button type="submit">Share</button>
      </form>
  
      <!-- List of invited users -->
      <div *ngIf="board?.allowedUsers?.length">
        <p>only board-owner allowed to -</p>
        <h4>Shared with:</h4>
        <ul>
          <li *ngFor="let email of board.allowedUsers">
            <span class="email">{{ email }}</span>
            <button
              *ngIf="authService.currentUserId === board.owner"
              (click)="removeAllowedUser(email)"
              class="remove-btn"
            >
              Uninvite
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  